@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';
@import './fonts/stylesheet.css';

:root {
  --l: 50%;
  --light: #e8f1ee;
  --light-green: #c9d8d3;
  --highlight: #5dd5a4;
  --highlight-lighter: #86e6bf;
  --highlight-secondary: #23dd9f;
  --dark: #2a2a39;
  --white: #fff;
  --grey: #a4a4a4;
  --error: red;
  --border: #d3e0dc;
  --border-radius: 10px;
}

body {
  color: #2a2a39;
  font-family: 'Daikon';
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
}

h2 {
  font-size: 40px;
  line-height: 52px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 0.9rem;
}

.image-gallery-slides {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  width: 30px;
}

.image-gallery-content:not(.fullscreen) .image-gallery-slides {
  height: 270px;
}

.image-gallery-slide,
.image-gallery-slide .image-gallery-image {
  max-height: unset;
  height: 100%;
  object-fit: cover;
}

.leaflet-container {
  height: 270px;
}

.box-shadow {
  box-shadow: 0px 4px 13px rgba(30, 35, 66, 0.11);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  width: 500px;
  max-width: 90%;
}

.modal:focus-visible {
  outline: none;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 300ms ease-out;
}

#form-item-message {
  color: var(--error);
}

.pagination-item {
  padding: 0 12px;
  height: 48px;
  min-width: 48px;
  text-align: center;
  margin: auto 4px;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  letter-spacing: 0.01071em;
  border-radius: var(--border-radius);
  line-height: 1.43;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--light);
  transition: all 0.3s;
}

.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-item.selected {
  background-color: var(--highlight);
  color: #fff;
}

.pagination-item.disabled {
  pointer-events: none;
}

.pagination-item .arrow:before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: '';
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid var(--dark);
  border-top: 0.12em solid var(--dark);
}

.pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}

.pagination-item .arrow.right {
  transform: rotate(45deg);
}

.pagination-item .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

@media (max-width: 1199px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}
