.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.accordion__content {
  padding-top: 0.5rem;
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.accordion__content.open {
}

.accordion__button.open {
}

.accordion__button:focus {
  outline: none;
}
